<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>LGO Node</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendors/pace-progress/css/pace.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/fontawesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/solid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.7.2/css/brands.min.css}"/>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<header class="app-header navbar">
    <span class="navbar-brand" href="#">
        <a th:href="@{~/}"><img class="navbar-brand-full" th:src="@{/img/logo.png}" height="30" alt="LGO"/></a>&nbsp;&nbsp;LGO
    </span>
</header>
<div class="app-body">
    <div th:fragment="nav(activeTab)">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a th:class="${activeTab == 'batch'}? 'nav-link active' : 'nav-link '" th:href="@{~/batches}">Batches</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <main class="main">
        <div layout:fragment="breadcrumb"></div>
        <div class="container-fluid">
            <div style="margin-top:1.5em">
                <div layout:fragment="content">
                    <p>Content goes here...</p>
                </div>
            </div>
        </div>
    </main>
</div>
<footer class="app-footer">
    <div>
        <div>LGO Node, source code available <a href="https://gitlab.com/lgo_public/lgo-node" target="_blank">here</a></div>
    </div>
</footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<span layout:fragment="javascript">
</span>
</body>
</html>
