<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        th:with="activeTab='batch'">
  <body>
  <th:block layout:fragment="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a th:href="@{~/batches}">Batches</a>
      </li>
      <li class="breadcrumb-item active">Batch <span th:text="${batch.id}"></span></li>
    </ol>
  </th:block>
    <th:block layout:fragment="content">
      <div class="card-group mb-4">
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-fingerprint"></i>
            </div>
            <div class="text-value"><span th:text="${batch.id}">type</span></div>
            <small class="text-muted text-uppercase font-weight-bold">Id</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-link"></i>
            </div>
            <div class="font-weight-bold"><span th:text="${batch.hash}">hash</span></div>
            <small class="text-muted text-uppercase font-weight-bold">Hash</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-link"></i>
            </div>
            <div class="font-weight-bold"><span th:text="${batch.previousHash}">previousHash</span></div>
            <small class="text-muted text-uppercase font-weight-bold">Previous hash</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-plus"></i>
            </div>
            <div class="text-value"><span th:text="${batch.orderCount}"></span></div>
            <small class="text-muted text-uppercase font-weight-bold">Order count</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-cubes"></i>
            </div>
            <div class="text-value"><a target="_blank" th:href="@{'https://opentimestamps.org/info/?' + ${batch.proofView.proof}}">View</a></div>
            <small class="text-muted text-uppercase font-weight-bold">OTS Proof</small>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Orders</div>
        <div class="card-body">
          <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Key id</th>
              <th>Creation date</th>
              <th>Description</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="orderView: ${batch.orderViews}">
              <td class="td-md">
                <span th:text="${orderView.id}" class="td-content"></span>
              </td>
              <td class="td-md">
                <span th:text="${orderView.keyId}" class="td-content"></span>
              </td>
              <td class="td-md">
                <span th:text="${@date.format(orderView.creationDate)}" class="td-content"></span> UTC
              </td>
              <td class="td-md">
                <span th:text="${orderView.description}" class="td-content"></span>
              </td>
              <td class="td-md">
                <span th:text="${orderView.status}" class="td-content"></span>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </th:block>
  </body>
</html>
